.NB-Basic-Info__location {}

.NB-Basic-Info__location .ant-select {
    width: 100% !important;
    /* height: 3.5rem !important; */
}

.NB-Basic-Info__location__country {
    display: flex;
    justify-content: space-between;

}

/* .NB-Basic-Info__location__pincode {
    margin-left: 1rem;
    width: 100%;
    padding-left: 1rem;
} */

/* .NB-Basic-Info__location__pincode input {
    height: 100% !important;
} */

.NB-Basic-Info__location__country .ant-select .ant-select-selector {
    outline: none !important;
    border-color: transparent !important;

    box-shadow: none !important;
}

.NB-Basic-Info__location__country .ant-select .ant-select-selection-item {
    text-align: left !important;
}